/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10%;
  margin-right: 20%;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
 
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;

   border-radius: 100%;
  max-height: 64px;
  max-width: 64px;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
  border-radius: 100%;
  max-height: 64px;
  max-width: 64px;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}
.example-full-width {
  width: 100%;
}
.image-upload>input {
  display: none;
}
.form-publication{
  padding: 10px;

}
.form-publication{
  margin-top: 10px !important;
}
button{
  display: inline;
  float: left;
}