<div *ngFor="let message of messages">
	
<div class="container" *ngIf="message.receiver._id==identity._id">
  <img src="{{url+'get-image-user/'+message.receiver.image}}" alt="{{message.receiver.nick}}">
  <p>{{message.text}}</p>
  <span class="time-right">{{message.created_at }}</span>
</div>

<div class="container darker" *ngIf="message.receiver._id!=identity._id">
  <img src="{{url+'get-image-user/'+message.emiter.image}}" alt="{{message.emiter.nick}}" class="right">
    <p>{{message.text}}</p>
  <span class="time-left">{{message.created_at }}</span>
</div>

</div>
<form #formAdd="ngForm" style="margin-left: 10%; margin-top: 30px; margin-right: 20%;">
		<mat-form-field appearance="fill" class="example-full-width" id="message">
		    	<mat-label>...</mat-label>
		    	<div id="contact-form" >
		    	<textarea  matInput name="text" #text="ngModel" [(ngModel)]="message.text" autosize>
		    	</textarea>
		    		</div>
		    	<div class="image-upload">
				  <label for="file-input">
				    <mat-icon>add_photo_alternate</mat-icon>
				    <button mat-button (click)="onSubmit(formAdd)">Enviar</button>
				  </label>

				 <input type="file"  name="file"  id="file-input" >
				</div>
	  		</mat-form-field>
	  		
	  		
	</form>