<div class="example-form">
	<h1 class="h1-strong ">{{title}}</h1>
	<p>
		<span class="example-full-width">{{message}}</span>
	</p>
	<form  #usereditForm="ngForm" (ngSubimt)="onSubmit()" class="" >
		<div *ngIf="user.image">
				<img src="{{url+'get-image-user/'+user.image}}" mat-card-image style="max-width: 100px; border-radius: 10px;">
		</div>
		<p>
		<mat-form-field class="example-full-width">
		    <mat-label>Nombre</mat-label>
		    <input matInput placeholder="Nombres Completos" value="" name="name" #name="ngModel" [(ngModel)]="user.name" required>
	  	</mat-form-field> 
	  	</p>
	  	<p>
	  	<span *ngIf="!name.valid && name.touched" class="alerta-p">
	  		El nombre es Obligatorio
	  	</span>
	  	</p> 
	  
	  <p>
	  	<mat-form-field class="example-full-width">
		    <mat-label>Apellidos</mat-label>
		    <input matInput placeholder="Apellidos" value="" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required>
	  	</mat-form-field>
	  	</p>
	  	<p>
	  	<span *ngIf="!surname.valid && surname.touched" class="example-full-width">
	  		Los Apellidos Son Obligatorios
	  	</span>
	  	</p>
	  	<p>
	  	<mat-form-field class="example-full-width">
		    <mat-label>Nick</mat-label>
		    <input matInput placeholder="Ejemplo mastop" value="" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required>
	  	</mat-form-field>
	  	</p>
	  	<p>
	  	<span *ngIf="!nick.valid && nick.touched" class="example-full-width">
	  		El Nick es Obligatorio
	  	</span>
	  	</p>
	  	<p>
	  	<mat-form-field class="example-full-width">
		    <mat-label>Correo Electronico</mat-label>
		    <input type="email" matInput placeholder="Ejemplo prueba@prueba.com" value="" name="email" #email="ngModel" [(ngModel)]="user.email" required  pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
	  	</mat-form-field>
	  	</p>
	  	<p>
	  	<span *ngIf="!email.valid && email.touched" class="example-full-width">
	  		El Email es Obligatorio
	  	</span>
	  	</p>
	  	<p>
	  	<mat-form-field class="example-full-width">
		    <mat-label>Avatar</mat-label>
		    <ngx-mat-file-input type="file" matInput placeholder="Sube tu avatar" value="" name="image" #image="ngModel" [(ngModel)]="user.image" (change)="fileChange($event)"></ngx-mat-file-input>
	  	</mat-form-field>
	  	</p>
	  	
	  	
	  	<button mat-button	color="primary" class="example-full-width"  [disabled]="!usereditForm.form.valid" (click)="onSubmit()">Enviar</button>

	</form>
	
</div>
 
