<div>	
	<div class="portada" style="background-image: url({{url+'get-image-user/default-profile.jpg'}}); ">		
		<mat-icon class="edit-image" *ngIf="identity._id == user_id">edit</mat-icon>
		
		    
	</div>
	<div class="perfil">

		<span class="followed" *ngIf="followed"><p>Te sigue</p></span>
		<img *ngIf="!user.image" src="{{url+'get-image-user/default-profile.jpg'}}"   class="profile" >
	    <img *ngIf="user.image" src="{{url+'get-image-user/'+user.image}}"  class="profile" >
	    <mat-icon class="edit-profile" *ngIf="identity._id == user_id">add_a_photo</mat-icon>
	</div>
	<div class="name">
		<h3>{{user.name+" "+user.surname}}</h3>
		<p class="nickname">@{{user.nick}}</p>
		<div class="follow" *ngIf="identity._id != user_id">
	    	<span *ngIf="!following">
	    	<button mat-button (click)="followUser(user_id)" >
	    		<mat-icon>person_add</mat-icon>Seguir
	    	</button>
	    	</span>
	    	<span *ngIf="following" (mouseenter)="mouseEnter(user_id)"        (mouseleave)="mouseLeave(user_id)">
		    	<button mat-button *ngIf="user_id == followUserOver;else followingt" (click)="deleteFollow(user_id)">
		    		<mat-icon>remove_circle</mat-icon>Dejar de seguir
		    	</button>

	    		<ng-template #followingt>
	    			<button mat-button>
	    				<mat-icon>how_to_reg</mat-icon>Siguiendo
	    			</button>
	    		</ng-template>
	    	</span>
	    </div>
 	<div class="counters">
		 <div class="following">
            <a href="#">
              <span class="label-stats">Siguiendo:</span>
              <span class="number-stats">{{stats.counters.following}}</span>
            </a>
          </div> 
          <div class="following">
            <a href="#">
              <span class="label-stats">Seguidores:</span>
              <span class="number-stats">{{stats.counters.followed}}</span>
            </a>
          </div>
           <div class="following">
            <a href="#">
              <span class="label-stats">Publicaciones:</span>
              <span class="number-stats">{{stats.counters.publications}}</span>
            </a>
          </div>
	</div>
	</div>
	<div class="publications">
		<div>
		<mat-card *ngFor="let publication of publications">
		<mat-card-header>
			<mat-icon class="mas" [matMenuTriggerFor]="afterMenu">expand_more</mat-icon>
			<mat-card-title>{{user.name+" "+user.surname}}</mat-card-title>
			<mat-card-subtitle>@{{user.nick+"   ---   "}}<span>{{(publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}</span></mat-card-subtitle>
			<img *ngIf="!user.image" src="{{url+'get-image-user/default-profile.jpg'}}" mat-card-avatar >
        	<img *ngIf="user.image" src="{{url+'get-image-user/'+user.image}}" mat-card-avatar >
		</mat-card-header>
		<mat-card-content>
			<p class="texto">{{publication.text}}</p>
		</mat-card-content>
		<mat-card-actions>
		<span class="like"><mat-icon>mood</mat-icon></span><span class="number-like">1</span>	<span  class="dislike"><mat-icon>mood_bad</mat-icon></span><span class="number-dislike">2</span>
		<span class="comment"><mat-icon> add_comment</mat-icon></span><span class="number-comment">5</span>
		</mat-card-actions>
		<mat-menu #afterMenu="matMenu" xPosition="after">
		  <button mat-menu-item><mat-icon>thumb_down_alt</mat-icon>Denunciar</button>
		  <button mat-menu-item *ngIf="identity._id==user_id" (click)="deletePublication(publication._id)"><mat-icon>delete_forever</mat-icon>Eliminar</button>
		</mat-menu>
	</mat-card>
	<div><button mat-button class="vermas" (click)="viewMore()" *ngIf="nomore">Ver mas</button></div>
	</div>
	</div>
	
</div>